.container {
    margin-bottom: 0 0 calc(2 * var(--const-card-spacing)) 0;
    max-width: 640px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    & + & {
        margin-top: var(--const-card-row-spacing);
    }
}

.group {
    display: flex;
    label {
        align-self: center;
        margin-right :0.25rem   
    }
    @media (max-width: 480px) {
        width: 100%;
        & + & {
            margin-top: var(--const-card-row-spacing);
        }
        .dateInputField {width: auto;}
    }

    @media (min-width: 481px) {
        & + & {
            margin-left: var(--const-card-spacing);
        }
    }
}

.searchInputField {
    width: 100%;
}
